@CHARSET "ISO-8859-1";
@media print {
	@page {
		margin: 0.5in;
		size: A4 landscape;
		counter-increment: page;
	}

	html{
		margin:0;
	}
}


@media all{
	body{
		font-family: arial;
		font-size: 12;
		color: #000000;
		background: #FFFFFF url(../images/IPTIPs_logo.png) no-repeat center;		
	}
	
	#content{
		width: auto;
		}
	
	#jadual, #jadual td{
		border: thin solid;
		padding: 5px !important;
		border-collapse: collapse;
		}
		
	.surat{
		background: url(../images/IPTIPs_logo.png) no-repeat center;
		}
		
	.slip td, .slip th{
		padding: 5px;
		border-collapse: collapse;
	}
	.slip_sub{
		border: 1px #000000 solid;
		border-collapse: collapse;
	}
	.slip_sub thead, .slip_sub  th, .slip_sub thead  tr{
		background-color: #808080;
	}
	.slip_sub thead, .slip_sub td{
		border: 1px #C0C0C0 solid;
	}
	
}
                 