@CHARSET "ISO-8859-1";
@media print {
	@page {
		margin-left: 0.5in;
		margin-right: 0.5in;
		margin-top:0px;
		margin-bottom:0px;
		size: A4 landscape;
		font-size:10px;
		counter-increment: page;
	}
		
		@top-left-corner,@top-left,@top-center,@top-right,@top-right-corner{
			display:none;
			visibility:collapse;
		}

	html{
		margin:0;
	}
	
	
	body.surat{
		font:"Times New Roman", Times, serif;
		/*font-family: arial;*/
		font-size: 14px;
		color: #000000;
		background: #FFFFFF url(images/IPTIPs_logo.png) no-repeat center;		
	}
	
	body.slip{
		/*font:"Times New Roman", Times, serif;*/
		font-family: arial;
		font-size: 14px;
		color: #000000;
		background: #FFFFFF url(images/IPTIPs_logo.png) no-repeat center;		
	}
}


@media all{
	html{
		margin:0;
	}
	
	body{
		font:"Times New Roman", Times, serif;
		/*font-family: arial;
		font-size: 12px;*/
		color: #000000;
		background: #FFFFFF url(images/IPTIPs_logo.png) no-repeat center;		
	}
	
	#content{
		width: auto;
		}
	
	#jadual, #jadual td{
		border: thin solid;
		padding: 5px !important;
		border-collapse: collapse;
		}
		
	.surat{
		background: url(../images/IPTIPs_logo.png) no-repeat center;
		}
		
	.slip td, .slip th{
		padding: 5px;
		border-collapse: collapse;
	}
	.slip_sub{
		border: 1px #000000 solid;
		border-collapse: collapse;
	}
	.slip_sub thead, .slip_sub  th, .slip_sub thead  tr{
		background-color: #808080;
	}
	.slip_sub thead, .slip_sub td{
		border: 1px #C0C0C0 solid;
	}
	.head{
		display:inline-block;
	}
	#logo_surat{
		display: block;
		top:0px;
		float:left;
		width: 10px;
		height: 10px;
		position:relative;
		vertical-align:top;
		text-align:center;
		background:url(../images/IPTIPs_logo.png);
		background-size:100px 100px;
		background-repeat:no-repeat;
	}
	#header_text{
		font:"Times New Roman", Times, serif;
		top:0px;
		display: block;
		position:inherit;
		height: 100px;
		vertical-align:top;
		text-align:center;
		float:left;
	}
	
	#header_text h2{
		margin:auto;
		text-align:center !important;
		font-size:18px;
		font-weight:bold;
	}
	
	#header_text h3{
		margin:auto;
		text-align:center !important;
		font-size:14px;
		font-weight:bold;
	}
	.kecik{
		font-size:11px;
	}
	.senget{
		font-style:italic;
		text-align:center !important;
	}
	.kaler{
		vertical-align:middle;
		background-color:#69F !important;
	}
	
	#rujukan, #rujukan pre{
		font:"Times New Roman", Times, serif;
		min-width:600px;
		display:block;
	}
	
	#footer{
		bottom:0;
	}
	
}
                 